Repository googleapis/gapic-generator, pull requests merged in 2018-06, with the labels that each got.

#2082 assert_not_nil is not a thing
  src/main/resources/com/google/api/codegen/ruby/test.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, Type: Bug

#2072 Update supported ruby version text
  src/main/resources/com/google/api/codegen/ruby/common.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby

#2105 Add Ruby Changelog
  src/main/java/com/google/api/codegen/transformer/ruby/RubyPackageMetadataTransformer.java
  src/main/resources/com/google/api/codegen/ruby/CHANGELOG.md.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, Type: Enhancement

#2102 Prefer using the version parameter in examples instead requiring the versioned client
  src/main/resources/com/google/api/codegen/ruby/method_sample.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, Type: Enhancement

#2110 Add additional env vars for credentials
  src/main/java/com/google/api/codegen/transformer/ruby/RubyGapicSurfaceTransformer.java
  src/main/resources/com/google/api/codegen/ruby/credentials.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, Priority: P2, Type: Enhancement

#2042 Python: add transport class
  src/main/java/com/google/api/codegen/transformer/SurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonGapicSurfaceTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonImportSectionTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonPackageMetadataTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonSurfaceNamer.java
  src/main/java/com/google/api/codegen/viewmodel/DynamicLangXApiView.java
  src/main/resources/com/google/api/codegen/py/main.snip
  src/main/resources/com/google/api/codegen/py/transport.snip
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
  src/test/java/com/google/api/codegen/testdata/py/python_multiple_services.baseline
  src/test/java/com/google/api/codegen/testdata/py/python_no_path_templates.baseline
Labels: Lang: Python
