Repository googleapis/gapic-generator, pull requests merged in 2018-05, with the labels that each got.

#1973 Fix for LRO and streaming api calls
  src/main/resources/com/google/api/codegen/ruby/test.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_doc_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
Labels: Lang: Ruby

#1998 Use native Python enums.
  src/main/resources/com/google/api/codegen/py/enum.snip
  src/main/resources/com/google/api/codegen/py/setup.py.snip
  src/test/java/com/google/api/codegen/testdata/py/py_library.baseline
  src/test/java/com/google/api/codegen/testdata/py/py_multiple_services.baseline
  src/test/java/com/google/api/codegen/testdata/py/py_no_path_templates.baseline
Labels: Status: Don't Merge

#2024 Add supported ruby version and logging config documentation
  src/main/resources/com/google/api/codegen/ruby/README.md.snip
  src/main/resources/com/google/api/codegen/ruby/common.snip
  src/main/resources/com/google/api/codegen/ruby/message.snip
  src/main/resources/com/google/api/codegen/ruby/version_index.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_doc_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, docs

#2032 Add gRPC interceptor support
  src/main/resources/com/google/api/codegen/ruby/main.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_doc_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, Priority: P1, Type: Enhancement
