Repository googleapis/gapic-generator, pull requests merged in 2018-07, with the labels that each got.

#2146 Fix version regex and use lowercase symbols for versions
  src/main/java/com/google/api/codegen/ruby/RubyUtil.java
  src/main/resources/com/google/api/codegen/ruby/method_sample.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, Priority: P1, Type: Bug

#2153 Fix version regex
  src/main/java/com/google/api/codegen/ruby/RubyUtil.java
Labels: Lang: Ruby, Type: Bug

#2168 scanner: fewer escape sequences
  src/main/java/com/google/api/codegen/util/Scanner.java
Labels: Core: Sample-gen

#2151 php standalone samples
  src/main/java/com/google/api/codegen/gapic/GapicGeneratorFactory.java
  src/main/java/com/google/api/codegen/transformer/php/PhpGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/php/PhpGapicSurfaceTransformer.java
  src/main/java/com/google/api/codegen/transformer/php/PhpMethodViewGenerator.java
  src/main/java/com/google/api/codegen/transformer/php/PhpSurfaceNamer.java
  src/main/java/com/google/api/codegen/viewmodel/CallingForm.java
  src/main/java/com/google/api/codegen/viewmodel/DynamicLangSampleView.java
  src/main/resources/com/google/api/codegen/common.snip
  src/main/resources/com/google/api/codegen/php/common.snip
  src/main/resources/com/google/api/codegen/php/method_sample.snip
  src/main/resources/com/google/api/codegen/php/sample_common.snip
  src/main/resources/com/google/api/codegen/php/standalone_sample.snip
  src/main/resources/com/google/api/codegen/py/method_sample.snip
  src/test/java/com/google/api/codegen/testdata/php/php_library.baseline
  src/test/java/com/google/api/codegen/testdata/php/php_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/php/php_no_path_templates.baseline
Labels: Core: Sample-gen

#2172 "Parse" the whole init config left-to-right
  src/main/java/com/google/api/codegen/metacode/FieldStructureParser.java
  src/main/java/com/google/api/codegen/metacode/InitFieldConfig.java
  src/main/java/com/google/api/codegen/transformer/go/GoSurfaceNamer.java
  src/main/java/com/google/api/codegen/util/Scanner.java
Labels: Core: Sample-gen
