Repository googleapis/gapic-generator, pull requests merged in 2018-08, with the labels that each got.

#2198 Update enable API link
  src/main/resources/com/google/api/codegen/readme.snip
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_multiple_services.baseline
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_no_path_templates.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: NodeJS, Lang: Ruby, docs

#2194 add YARD
  src/main/resources/com/google/api/codegen/ruby/gemspec.snip
  src/main/resources/com/google/api/codegen/ruby/yardopts.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, docs

#2193 Remove old doc for versioned modules in Ruby
  src/main/resources/com/google/api/codegen/ruby/message.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, docs

#2188 Exclude all files in acceptance test directory
  src/main/resources/com/google/api/codegen/ruby/rubocop.yml.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, Type: Enhancement

#2187 Version acceptance tests
  src/main/resources/com/google/api/codegen/ruby/smoke_test.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
Labels: Lang: Ruby, Type: Bug

#2203 Don't throw error on multiple version strings
  src/main/java/com/google/api/codegen/transformer/ruby/RubyPackageMetadataTransformer.java
Labels: Lang: Ruby

#2189 Support custom region tags in samples
  src/main/java/com/google/api/codegen/config/SampleSpec.java
  src/main/java/com/google/api/codegen/transformer/SampleFileRegistry.java
  src/main/java/com/google/api/codegen/transformer/SampleTransformer.java
  src/main/java/com/google/api/codegen/transformer/SurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/java/JavaGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSSurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/php/PhpGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonSurfaceNamer.java
  src/main/java/com/google/api/codegen/util/Name.java
  src/main/java/com/google/api/codegen/viewmodel/CallingForm.java
  src/main/java/com/google/api/codegen/viewmodel/MethodSampleView.java
  src/main/proto/com/google/api/codegen/config.proto
  src/main/resources/com/google/api/codegen/java/standalone_sample.snip
  src/main/resources/com/google/api/codegen/nodejs/standalone_sample.snip
  src/main/resources/com/google/api/codegen/php/standalone_sample.snip
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/config/SampleSpecTest.java
  src/test/java/com/google/api/codegen/testdata/java/java_library.baseline
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/testdata/php/php_library.baseline
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
  src/test/java/com/google/api/codegen/testsrc/library_gapic.yaml
Labels: Core: Sample-gen

#2178 Initialize init tree forward
  build.gradle
  src/main/java/com/google/api/codegen/metacode/FieldStructureParser.java
  src/main/java/com/google/api/codegen/metacode/InitCodeNode.java
  src/main/java/com/google/api/codegen/metacode/InitValueConfig.java
  src/main/java/com/google/api/codegen/transformer/InitCodeTransformer.java
  src/main/java/com/google/api/codegen/transformer/OutputTransformer.java
  src/main/java/com/google/api/codegen/util/Scanner.java
  src/test/java/com/google/api/codegen/metacode/SampleInitCodeTest.java
  src/test/java/com/google/api/codegen/util/ScannerTest.java
Labels: Core: Sample-gen

#2216 Samplegen response handling spec: s/output_spec/on_success/
  src/main/java/com/google/api/codegen/transformer/SampleTransformer.java
  src/main/proto/com/google/api/codegen/config.proto
  src/test/java/com/google/api/codegen/testsrc/library_gapic.yaml
Labels: Core: Sample-gen

#2230 Remove api segment from enable api url
  src/main/resources/com/google/api/codegen/readme.snip
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_multiple_services.baseline
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_no_path_templates.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby, Priority: P0

#2225 Run generated Ruby unit tests in CI
  .circleci/config.yml
  generate_clients.py
Labels: Status: Don't Merge

#2221 rewire samplegen neurons regarding sample parameters
  src/main/java/com/google/api/codegen/metacode/FieldStructureParser.java
  src/main/java/com/google/api/codegen/metacode/InitCodeContext.java
  src/main/java/com/google/api/codegen/metacode/InitCodeNode.java
  src/main/java/com/google/api/codegen/transformer/InitCodeTransformer.java
  src/main/java/com/google/api/codegen/transformer/SampleTransformer.java
  src/main/java/com/google/api/codegen/viewmodel/InitCodeView.java
  src/main/proto/com/google/api/codegen/config.proto
  src/main/resources/com/google/api/codegen/java/initcode.snip
  src/main/resources/com/google/api/codegen/nodejs/method_sample.snip
  src/main/resources/com/google/api/codegen/nodejs/test.snip
  src/main/resources/com/google/api/codegen/php/sample_common.snip
  src/main/resources/com/google/api/codegen/py/method_sample.snip
  src/main/resources/com/google/api/codegen/py/sample_init.snip
  src/main/resources/com/google/api/codegen/py/smoke_test.snip
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/main/resources/com/google/api/codegen/py/test.snip
  src/test/java/com/google/api/codegen/testdata/java/java_library.baseline
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/testdata/php/php_library.baseline
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
  src/test/java/com/google/api/codegen/testsrc/library_gapic.yaml
Labels: Core: Sample-gen

#2207 Remove overview class
  src/main/java/com/google/api/codegen/transformer/ruby/RubyGapicSurfaceDocTransformer.java
  src/main/resources/com/google/api/codegen/ruby/version_index.snip
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_longrunning.baseline
  src/test/java/com/google/api/codegen/testdata/ruby/ruby_multiple_services.baseline
Labels: Lang: Ruby

#2224 Python samplegen: clean up sample structure
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/testdata/java/java_library.baseline
  src/test/java/com/google/api/codegen/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/testdata/php/php_library.baseline
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
  src/test/java/com/google/api/codegen/testsrc/library_gapic.yaml
  testutils/check-calling-form-in-baseline/main.go
  testutils/check-calling-form-in-baseline/main_test.go
Labels: Core: Sample-gen

#2239 sample: use the correct config schema
  src/main/java/com/google/api/codegen/transformer/SampleTransformer.java
  src/main/java/com/google/api/codegen/viewmodel/SampleValueSetView.java
  src/main/proto/com/google/api/codegen/config.proto
  src/test/java/com/google/api/codegen/config/SampleSpecTest.java
  src/test/java/com/google/api/codegen/testsrc/library_gapic.yaml
Labels: Core: Sample-gen

#2244 Samplegen: java output
  src/main/java/com/google/api/codegen/transformer/OutputTransformer.java
  src/main/java/com/google/api/codegen/transformer/java/JavaSurfaceNamer.java
  src/main/resources/com/google/api/codegen/java/common.snip
  src/main/resources/com/google/api/codegen/java/method_sample.snip
  src/main/resources/com/google/api/codegen/java/standalone_sample.snip
  src/test/java/com/google/api/codegen/testdata/java/java_library.baseline
Labels: Core: Sample-gen

#2248 [Proto Annotations] Enable passing in --package flag
  src/main/java/com/google/api/codegen/GeneratorMain.java
  src/main/java/com/google/api/codegen/config/ResourceNameMessageConfigs.java
  src/main/java/com/google/api/codegen/gapic/GapicGeneratorApp.java
  src/main/java/com/google/api/codegen/packagegen/PackageGeneratorApp.java
Labels: Status: Don't Merge

#2253 add sample function declaraction
  src/main/java/com/google/api/codegen/transformer/InitCodeTransformer.java
  src/main/java/com/google/api/codegen/transformer/OutputTransformer.java
  src/main/java/com/google/api/codegen/viewmodel/InitCodeView.java
  src/main/java/com/google/api/codegen/viewmodel/MethodSampleView.java
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
Labels: Core: Sample-gen

#2266 Add license to generated Python samples
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/php/PhpGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/viewmodel/DynamicLangSampleView.java
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
  testutils/check-calling-form-in-baseline/main.go
  testutils/check-calling-form-in-baseline/main_test.go
Labels: Core: Sample-gen

#2273 Add a main function to python samples
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
Labels: Core: Sample-gen

#2277 Python samples: move `import sys` to the top of the file
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
Labels: Core: Sample-gen

#2272 samplegen: convert binary type to str
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/testdata/py/python_library.baseline
Labels: Core: Sample-gen

#2213 Golang generated unit tests
  .circleci/config.yml
  generate_clients.py
Labels: Status: Don't Merge
