Repository googleapis/gapic-generator, pull requests merged in 2019-02, with the labels that each got.

#2515 Samplegen: Slightly refactor samplegen infrastructure and correctly import everything Java needs
  src/main/java/com/google/api/codegen/metacode/InitCodeContext.java
  src/main/java/com/google/api/codegen/transformer/DynamicLangApiMethodTransformer.java
  src/main/java/com/google/api/codegen/transformer/InitCodeTransformer.java
  src/main/java/com/google/api/codegen/transformer/SampleImportTransformer.java
  src/main/java/com/google/api/codegen/transformer/SampleTransformer.java
  src/main/java/com/google/api/codegen/transformer/StandardSampleImportTransformer.java
  src/main/java/com/google/api/codegen/transformer/StaticLangApiMethodTransformer.java
  src/main/java/com/google/api/codegen/transformer/csharp/CSharpGapicSnippetsTransformer.java
  src/main/java/com/google/api/codegen/transformer/java/JavaMethodViewGenerator.java
  src/main/java/com/google/api/codegen/transformer/java/JavaSampleImportTransformer.java
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSGapicSurfaceTestTransformer.java
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSGapicSurfaceTransformer.java
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSPackageMetadataTransformer.java
  src/main/java/com/google/api/codegen/transformer/php/PhpGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/php/PhpGapicSurfaceTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonGapicSurfaceTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonPackageMetadataTransformer.java
  src/main/java/com/google/api/codegen/viewmodel/MethodSampleView.java
  src/main/resources/com/google/api/codegen/java/standalone_sample.snip
  src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline
Labels: Core: Sample-gen

#2528 samplegen: Node.js output
  src/main/java/com/google/api/codegen/transformer/OutputTransformer.java
  src/main/java/com/google/api/codegen/transformer/SurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/java/JavaSurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSSurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/php/PhpSurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonGapicSamplesTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonSampleOutputImportTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonSamplePrintArgTransformer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonSurfaceNamer.java
  src/main/java/com/google/api/codegen/viewmodel/OutputView.java
  src/main/resources/com/google/api/codegen/java/standalone_sample.snip
  src/main/resources/com/google/api/codegen/nodejs/standalone_sample.snip
  src/main/resources/com/google/api/codegen/php/standalone_sample.snip
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/gapic/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/transformer/OutputTransformerTest.java
Labels: Core: Sample-gen

#2552 Change SampleGen CLI to snake_case
  src/main/java/com/google/api/codegen/transformer/InitCodeTransformer.java
  src/main/java/com/google/api/codegen/viewmodel/InitCodeView.java
  src/main/java/com/google/api/codegen/viewmodel/SampleFunctionParameterView.java
  src/main/resources/com/google/api/codegen/java/standalone_sample.snip
  src/main/resources/com/google/api/codegen/nodejs/standalone_sample.snip
  src/main/resources/com/google/api/codegen/php/standalone_sample.snip
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/php/php_library.baseline
Labels: Core: Sample-gen

#2555 Samplegen: Java sample enhancements
  src/main/java/com/google/api/codegen/transformer/java/JavaSampleImportTransformer.java
  src/main/resources/com/google/api/codegen/java/build_gapic_samples.gradle.snip
  src/main/resources/com/google/api/codegen/java/common.snip
  src/main/resources/com/google/api/codegen/java/standalone_sample.snip
  src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline
Labels: Core: Sample-gen

#2572 Remove argparse if there is no sample_argument_name specified
  src/main/resources/com/google/api/codegen/py/standalone_sample.snip
  src/test/java/com/google/api/codegen/gapic/testdata/py/python_library.baseline
Labels: Core: Sample-gen

#2581 SampleGen: handle exceptions thrown by CommandLineParser
  src/main/resources/com/google/api/codegen/java/standalone_sample.snip
  src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline
Labels: Core: Sample-gen

#2583 SampleGen: Fix Node templates
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSSurfaceNamer.java
  src/main/resources/com/google/api/codegen/nodejs/standalone_sample.snip
  src/test/java/com/google/api/codegen/gapic/testdata/nodejs/nodejs_library.baseline
Labels: Core: Sample-gen

#2590 Added MoreExecutors
  src/main/java/com/google/api/codegen/transformer/java/JavaSurfaceTransformer.java
  src/main/resources/com/google/api/codegen/java/main.snip
  src/test/java/com/google/api/codegen/discogapic/testdata/java/java_simplecompute.v1.json.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/java/java_no_path_templates.baseline
  src/test/java/com/google/api/codegen/protoannotations/testdata/java_library.baseline
  src/test/java/com/google/api/codegen/protoannotations/testdata/java_library_no_gapic_config.baseline
Labels: cla: yes

#2594 node: use latest gax
  src/main/resources/com/google/api/codegen/packaging/dependencies.yaml
  src/test/java/com/google/api/codegen/gapic/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/nodejs/nodejs_multiple_services.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/nodejs/nodejs_no_path_templates.baseline
  src/test/java/com/google/api/codegen/protoannotations/testdata/nodejs_library.baseline
  src/test/java/com/google/api/codegen/testsrc/common/frozen_dependencies.yaml
Labels: cla: yes

#2591 SampleGen: Correctly import NIO classes
  src/main/java/com/google/api/codegen/transformer/StandardImportSectionTransformer.java
  src/main/java/com/google/api/codegen/transformer/java/JavaSampleImportTransformer.java
  src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline
Labels: Core: Sample-gen, cla: yes

#2559 Add test for GoCommentReformatter
  src/test/java/com/google/api/codegen/util/go/GoCommentReformatterTest.java
Labels: cla: yes

#2587 Make default EmptyMessage value a non-null object
  src/main/java/com/google/api/codegen/transformer/java/JavaSchemaTypeNameConverter.java
Labels: cla: yes

#2595 Cleanup
  src/main/java/com/google/api/codegen/gapic/ServiceMessages.java
  src/main/java/com/google/api/codegen/transformer/StaticLangApiMethodTransformer.java
  src/main/java/com/google/api/codegen/transformer/csharp/CSharpGapicClientTransformer.java
  src/main/java/com/google/api/codegen/transformer/csharp/CSharpGapicSnippetsTransformer.java
Labels: cla: yes

#2602 Update generator to handle newest API Config Spec
  build.gradle
  src/main/java/com/google/api/codegen/config/FlatteningConfig.java
  src/main/java/com/google/api/codegen/config/GapicProductConfig.java
  src/main/java/com/google/api/codegen/config/LongRunningConfig.java
  src/main/java/com/google/api/codegen/config/ResourceNameOneofConfig.java
  src/main/java/com/google/api/codegen/config/SingleResourceNameConfig.java
  src/main/java/com/google/api/codegen/gapic/GapicGeneratorApp.java
  src/main/java/com/google/api/codegen/util/ProtoParser.java
  src/test/java/com/google/api/codegen/config/LongRunningConfigTest.java
  src/test/java/com/google/api/codegen/config/ResourceNameMessageConfigsTest.java
  src/test/java/com/google/api/codegen/gapic/GapicTestConfig.java
  src/test/java/com/google/api/codegen/packagegen/testdata/library.proto
  src/test/java/com/google/api/codegen/testsrc/common/tagger.proto
  src/test/java/com/google/api/codegen/testsrc/libraryproto/library.proto
  src/test/java/com/google/api/codegen/util/ProtoParserTest.java
Labels: cla: yes

#2588 SampleGen: Access map entries in output handling
  src/main/java/com/google/api/codegen/transformer/OutputTransformer.java
  src/main/java/com/google/api/codegen/transformer/SurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/java/JavaSurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/nodejs/NodeJSSurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/php/PhpSurfaceNamer.java
  src/main/java/com/google/api/codegen/transformer/py/PythonSurfaceNamer.java
  src/test/java/com/google/api/codegen/gapic/testdata/java/java_library.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/nodejs/nodejs_library.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/php/php_library.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/py/python_library.baseline
  src/test/java/com/google/api/codegen/gapic/testdata/ruby/ruby_library.baseline
  src/test/java/com/google/api/codegen/testsrc/libraryproto/library.proto
  src/test/java/com/google/api/codegen/testsrc/libraryproto/library_gapic.yaml
  src/test/java/com/google/api/codegen/transformer/OutputTransformerTest.java
Labels: Core: Sample-gen, cla: yes
